<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Application Request System</title>
    <link rel="stylesheet" href="../stylesheet.css">
    <style>
        .row:nth-of-type(odd) {
            background-color:#ccc;
        }
    </style>

</head>

<div class="topnav">
    <a class="active"  href="/profile">Welcome Admin!</a>
    <a href="/logout">Logout</a>
</div>

<body>
<h1 class="center">Change EULA Evaluation</h1>
<form action="/submitEula/<%=app[0].id%>" method="POST" class="center">
    <select id="eula" name="eula" size="1" multipe>
        <option value="Yes">Yes</option>
        <option value ="No">No</option>
    </select>
    <hr class="solid">
    <input type="submit" value="Submit">
</body>
</html>